h1{
	text-align: center;
	padding: 30px;
	background-color: #cd5c5c;
	color: white;
}


.tabella{
	border: 1px solid #000;

	background-color: white;

}

.text-center{
	margin: 25px;
}

#secondariga{
	margin-top: 50px;
}

.col-sm{
	text-align: center;
}

body{
	background-image: url(../sfondo.jpg); 	
}


#contatore_punteggi{
	margin-bottom: 50px;
}